.App {
	margin: 1rem 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.App {
	background-color: #f9f8fe;
}

.App-header h1 {
	font-weight: bold;
	text-align: center;
}

.App-footer {
	margin-top: 1rem;
	text-align: center;
}

.App .github-link {
	text-decoration: none;
	color: #5c3681;
}
