.Phonetics a {
	border: 1px solid #5c3681;
	padding: 8px 15px;
	color: #5c3681;
	border-radius: 20px;
	text-decoration: none;
	font-size: 13px;
	display: inline-block;
	font-weight: bold;
}

.Phonetics p {
	display: inline;
	margin-left: 5px;
	font-size: 20px;
	opacity: 0.7;
	font-weight: thin;
}
